.statistics {
  padding: 40px 100px;
  width: 100%;
  height: 100dvh;
}

.title {
  text-align: center;
}

/* result.css */

.result {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  background-color: #1a1a1a;
  color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.total {
  font-size: 18px;
  font-weight: bold;
}

.search {
  display: flex;
  align-items: center;
}

.search input[type="search"] {
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  background-color: #f0f0f050;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: box-shadow 0.3s ease;
}

.search input[type="search"]::placeholder {
  color: #888;
}

.search input[type="search"]:focus {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.2); /* Fokustagi input soyasi */
}

.table {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 85%;
  overflow: scroll;
  position: relative;
}

.table::-webkit-scrollbar {
  display: none;
}

.thead {
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  background: #000;
  padding-bottom: 10px;
}

.tbody {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 150px;
}

.row {
  padding: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 40px 250px 150px 80px 80px 1fr;
  gap: 20px;
  background: #ffffff10;
  border-radius: calc(12 / 14.4 * 1vw);
  transition: all 0.3s ease;
}

.tbody > .row:hover {
  background: #ffffff30;
}

.row > td {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row > .fullname,
.row > .age,
.row > .score {
  justify-content: space-between;
}

.row > td > span {
  font-size: 16px;
  font-family: "regular";
  color: #ffffff;
  text-transform: capitalize;
}

.sort {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  font-size: 18px;
  color: #fff;
  border: none;
  cursor: pointer;
}
